################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/obj
**/bin
.DS_Store
**/.idea
**/node_modules


######################################
# 💾 SQLite database files (EF Core Runtime)
######################################
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3